extends layout

block content
    .ContainerSummary
        .quote
           i(class="fa fa-quote-left fa-2x" aria-hidden="true")
           br
           p.summary I decided to shift careers into the area of web development because I wanted a job that challenge me intellectually, but gave me room to grow as an individual. What I have learned to appreciated the most is my ability develop skills in a diverse set of programming languages, something I could hardly imagine doing before GA.
    .ContainerPerState
        .sideBar
            img.alumniImage(alt="Alumni Photo" src="images/purplehair.jpg")
            .workTime
               p(class="bold") I'm looking for
               p alumnistuff
               br
               a(class="link2" href="#letsTalk") Let's Talk
            .alumniWeb
               a(href="#")
                 i(class="fa fa-dot-circle-o" aria-hidden="true")
                 p Alumni Website
            .alumniWeb
               a(href="#")
                 i(class="fa fa-facebook-official" aria-hidden="true")
                 p Facebook
            .alumniWeb
               a(href="#")
                 i(class="fa fa-twitter" aria-hidden="true")
                 p Twitter
            .alumniWeb
               a(href="#")
                 i(class="fa fa-github" aria-hidden="true")
                 p Github
        .MyDetails
            .SectionOne
                h1.header Alumni Name
                div.line
                h4 Alumni pitch
                hr.line2
            .SectionTwo
                .infoRow
                    .IconColumn
                       img(src="")
                    .MainColumn
                        p text
                .infoRow
                    .IconColumn
                       i(class="fa fa-briefcase" aria-hidden="true")
                    .MainColumn
                        p text
                .infoRow
                    .IconColumn
                       i(class="fa fa-graduation-cap " aria-hidden="true fa-small")
                    .MainColumn
                        p text
                .infoRow
                    .IconColumn
                       i.Orgin-marker(class="fa fa-map-marker" aria-hidden="true fa-small")
                    .MainColumn
                        p text
                hr.line2
            .SectionThree
                div
                    h3 Skills
                div
                    span My top three
                    ul.SkillList
                        li.SkillItem Express
                        li.SkillItem Pug
                        li.SkillItem html
                    span Some other skills
                    ul.SkillList
                        li.SkillItem constant learner
                        li.SkillItem cool dude
                        li.SkillItem adaptive
                        li.SkillItem team player
                        li.SkillItem servant leader
    .MyExperience 
            .Title 
                h2 MY EXPERIENCE 
            .wrapper
                .QuestionColumn 
                    img(src="images/QandA.png")
                    div.question
                        p What is a book or movie that has been formative to your personality?
                    div.answer
                        p.bold  The Good the Bad and the Ugly
                        p  I have fond memories of this film because I watched it with my father and grandfather when I was younger. The musical scores by Ennio Morricone are all memorable and transcend the film itself in may ways. As I watched it over the years I have come to appreciate more of the details that makes the film great, and I realized the work it takes to make something that stands the test of time.
                        Learn More
                .ExperienceColumn 
                    .mainContent
                        .content
                            img(class="vertical-dots" src="images/vertical-dots.png")
                            br
                            div.experienceIntro
                                i(class="fa fa-briefcase briefCase" aria-hidden="true")
                                br
                                p.bold Web Development Immersive at General Assembly
                                p Aug 2017 - Oct 2017 | Washington, DC
                                hr
                                p I always had an eye for web designing and development while working as a QA Engineer/Software Tester, so I decided to join GA WDI bootcamp. The fast paced learning environment made me active and I realized how much I can do in a short span of time. All my projects were completed in less than 3 days and I enjoyed all of it.
                                a(class="link1" href="#") Learn more about the course 
                                i(class="fa fa-arrow-circle-o-right" aria-hidden="true")
                    .secondaryContent
                        .content
                            img(class="vertical-dots" src="images/vertical-dots.png")
                            div.experienceIntro.Secondary
                                i(class="fa fa-briefcase SecondbriefCase" aria-hidden="true")
                                br
                                p.bold Web Development Immersive at General Assembly
                                p Aug 2017 - Oct 2017 | Washington, DC
                                hr
                                p I always had an eye for web designing and development while working as a QA Engineer/Software Tester, so I decided to join GA WDI bootcamp. The fast paced learning environment made me active and I realized how much I can do in a short span of time. All my projects were completed in less than 3 days and I enjoyed all of it.
                                a(class="link1" href="#") Learn more about the course 
                                i(class="fa fa-arrow-circle-o-right" aria-hidden="true")

block footer

